@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white !important;
  }
  .print\:shadow-none {
    box-shadow: none !important;
  }
  .print\:p-8 {
    padding: 2rem !important;
  }
}
